p{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    margin: 0 400px 0 400px;
    background-color: white;
    font-family: sans-serif;
    color: black;
    text-align: center
}
h4{
    font-size: 12px;
    margin: 0;
    color: white;
    font-family: sans-serif;
    text-align: center;

}
h1{
    margin: 0;
    background: white;
    text-align: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    margin: 0 400px 0 400px;
}
body{
    background: #212121
}
div{
    text-align: center;
    margin: 10px 400px 10px 400px;
    font-family: sans-serif;
    color: white;
}

img{
    cursor:pointer;
    width: 400px;
}
.shoe1{
    background:#9e00b0
}
a{
    cursor:default;
}